<p>
  Please enter contact details below:
</p>

<div class='formWrapper'>
  <br>
  <form action='/create' method='POST' enctype="multipart/form-data">
    <label for="name">Name:</label>
    <br>
    <input name='name' id='name' type='text' className='inputClass' placeholder='enter name here' [(ngModel)]='formData.name'
      value='formData.name'>
    <br>
    <label for="email">Email:</label>
    <br>
    <input name='email' id='name' type='text' className='inputClass' placeholder='enter email here' name='email'
      [(ngModel)]='formData.email' value='formData.email'>
    <br>
    <br>
    <input type="submit" value="Submit" (click)='addContact()'>
  </form>
  <br>
</div>