<h1>
  {{ title }}
</h1>
<div id='header-wrapper'>
  <ul>
    <li>
      <a routerLink="/">HOME</a>
    </li>
    <li>
      <a routerLink="/detail">DETAIL</a>
    </li>
    <li>
      <a routerLink="/view-contacts">VIEW ALL</a>
    </li>
    <li>
      <a routerLink="/view-contacts">CREATE CONTACT</a>
    </li>
    <li>
      <a routerLink="/my-profile">PROFILE</a>
    </li>
    <!-- <li>
      <a routerLink="/contact">CONTACT</a>
    </li> -->
    <li>
      <a routerLink="/login">LOGIN</a>
    </li>

  </ul>
</div>