<hr />
<h1>
  <!-- {{ title }} -->
  SEARCH FOR CONTACT
</h1>
<hr />

<!-- <h2>
  {{ data.header }}
</h2> -->

<!-- <form action=''>
  <input type='text' name='name' placeholder='name' [(ngModel)]='formData.name' (keyup)='validateName()'>
  <br />
  <br />
  <input type='text' name='email' placeholder='email' [(ngModel)]='formData.email' (keyup)='validateEmail()'>
</form> -->

<div>
  <form action=''>
    <input type='text' name='name' placeholder='name' [(ngModel)]='formData.name' (keyup)='searchByName()'>
  </form>
</div>

<p *ngFor="let charCard of render">
  {{charCard.name}}
</p>