<hr />
<h1>
  ROLODEX
</h1>
<hr />

<!-- SEARCH BAR -->
<div>
  <br>
  <form action=''>
    <input type='text' name='name' placeholder='search for contact' [(ngModel)]='formData.name' (keyup)='searchByName($event)'>
  </form>
  <br>
</div>

<div>
  {{sanityCheck}}
</div>

<!-- CHARACTER CARD -->
<div class='cardWrapper'>
  <p class='contactCard' *ngFor="let charCard of render">
    {{charCard.name}}
    <!-- {{charCard.email}} -->
    <br>
    <!-- <a routerLink="/users/{{charCard.id}}">DETAIL</a> -->
    <a routerLink="/users/{{charCard.id}}" (click)="getDetail()">DETAIL</a>

  </p>
</div>